form {
    text-align: center;
    position: relative;
    top: 160px;
}

input[type= submit] {
    padding: 5px;
    margin: 10px;
    width: 65px;
    height: 35px;
    background-color: rgb(207, 158, 158);
    border: none;
    border-radius: 10%;
    cursor: pointer;
    transition: 0.3s;
}

input[type= submit]:hover{
    background-color: rgb(214, 121, 121);
}



